node_modules
*.log
dist
test-lib/**/*.js
coverage
.history
.nyc_output
.idea
.vscode
.next
coverage
dist
firebase.json
node_modules
temp
test-lib/**/*.js
yarn-error.log
.build
Pods/


**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions
