node_modules
*.log
dist
test-lib/**/*.js
coverage
.history
.nyc_output
.idea
.vscode
.next
firebase.json
temp
yarn-error.log
.build
Pods/

**/xcuserdata/*
**/build/*

**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# macOS
.DS_Store


.cache
.rpt2_cache/

.env
.vercel

.nx-cache
