/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
}

footer {
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
