html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
}

.builder-text a {
  color: rgba(28, 151, 204, 1);
}

a {
  color: inherit;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

[role='button'] {
  cursor: pointer;
}

.builder-text ul,
.builder-text ol {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.builder-text {
  line-height: 1.3em;
}

.builder-text h1 {
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.builder-text h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.builder-text h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.builder-text h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.builder-text h5 {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.builder-text h6 {
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

.builder-text p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.builder-text ul {
  list-style-type: disc;
}

.builder-text ol {
  list-style-type: decimal;
}

.builder-text strong {
  font-weight: bold;
}

.builder-text em {
  font-style: italic;
}

.builder-text u {
  text-decoration: underine;
}

* {
  line-height: normal;
}

html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 
  Somewhere, that I can't find for the life of me, there is a selector for body
  setting the bg color to #fafafa. To make the selector stronger to make the bg 
  color white, we use `html body` to override this, as a last resort...
*/
html body {
  background-color: #f4f3e9;
}

/* Nicer code tag formatting in CSS */
.builder-text code {
  background-color: #eee;
  display: inline-block;
  padding: 0 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  color: steelblue;
}

@font-face {
  font-family: 'basic-sans';
  src: url('https://use.typekit.net/af/721f9c/00000000000000007735abf2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/721f9c/00000000000000007735abf2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/721f9c/00000000000000007735abf2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
/* Alias */
@font-face {
  font-family: 'Basic Sans';
  src: url('https://use.typekit.net/af/721f9c/00000000000000007735abf2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff2'),
    url('https://use.typekit.net/af/721f9c/00000000000000007735abf2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('woff'),
    url('https://use.typekit.net/af/721f9c/00000000000000007735abf2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3')
      format('opentype');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

/* Override any old Robot to be Avenir */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Avenir'),
    url(https://cdn.builder.io/o/assets%2FYJIGb4i01jvw0SRdL5Bt%2F8266b541dec2459497e8c87432814cbf?alt=media&token=72534d12-ae77-4454-8749-2020f23e7199&apiKey=YJIGb4i01jvw0SRdL5Bt)
      format('opentype');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Avenir'),
    url(https://cdn.builder.io/o/assets%2FYJIGb4i01jvw0SRdL5Bt%2F8266b541dec2459497e8c87432814cbf?alt=media&token=72534d12-ae77-4454-8749-2020f23e7199&apiKey=YJIGb4i01jvw0SRdL5Bt)
      format('opentype');
}
