.embed-frame {
  border: none;
  margin: auto;
  width: 100%;
  max-width: 100%;
  min-height: 100px;
  height: 400px;
}

.embed-container {
  display: flex;
}

body.builder-editing-page :host .embed-frame {
  pointer-events: none;
}
