:host {
  background-color: white;
  display: block;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.logo {
  max-width: 200px;
}

.ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 36px;
  letter-spacing: 2px;
  font-size: 12px;
  text-decoration: none;
}

.link {
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 5px;
  padding: 0 15px;
  font-family: Averta, sans-serif;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 2px solid black;
  flex-wrap: wrap;
  overflow: hidden;
}
