---
name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Use node version 12
        uses: actions/setup-node@v2
        with:
          node-version: 12

      - run: npm run ci:lint

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12]
        package: ['core', 'webcomponents', 'react', 'widgets']

    steps:
      - uses: actions/checkout@v2

      - name: Use node version ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get npm cache directory
        id: npm-cache-dir
        run: |
          echo "::set-output name=dir::$(npm config get cache)"

      - uses: actions/cache@v2
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: NPM install
        run: npm ci
        working-directory: packages/${{ matrix.package }}

      - name: Build
        run: npm run ci:build --if-present
        working-directory: packages/${{ matrix.package }}

      - name: Test
        run: npm run ci:test --if-present
        working-directory: packages/${{ matrix.package }}

  build-sdks:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: packages/sdks

    steps:
      - name: Setup
        uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'
          cache-dependency-path: ./packages/sdks/yarn.lock

      - name: Install dependencies
        run: yarn

      - name: Run prettier
        run: yarn ci:lint

      - name: Build
        run: yarn ci:build

      - name: Run tests
        run: yarn ci:test

      - name: Install browsers for Playwright
        run: yarn ci:e2e-prep

      - name: Build E2E tests
        run: yarn ci:e2e-build

      - name: Run E2E tests
        run: yarn ci:e2e
